.card {
  min-height: 90px;
  background: #f2f1ea;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
}

.card:hover > .img {
  transition: 0.5s ease-in-out;
  background: linear-gradient(#9198e5, #712020);
}

.textBox {
  width: calc(100% - 110px);
  margin-left: 10px;
}

.textContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span {
  font-size: 15px;
  margin-bottom: 0px;
}

.h1 {
  font-size: 20px;
  font-weight: bold;
}

.p {
  font-size: 15px;
  padding: 0px 10px;
  margin-top: 0px;
}
