@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville&family=Source+Code+Pro:ital,wght@0,200;1,200&display=swap");

/* FORM FIELDS */
.contact {
  border-radius: 20px;
  border: 0.5px black solid;
  min-height: 40px;
  min-width: 400px;
  margin: auto;
}

.msg {
  min-height: 250px;
}

.label {
  font-size: 17px;
  margin: 8px;
  font-weight: 500;
  font-family: Source Code;
  padding: 8px;
}

.field {
  padding-left: 30px;
}
