.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  #box {
    min-width: "320px";
    max-width: "500px";
  }

  #title {
    font-size: 20px;
    text-align: center;
  }

  #slogan {
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
  }

  #projectsBtn,
  #aboutmeBtn,
  #contactBtn {
    width: 115px;
    height: 33px;
  }
}

@media screen and (min-width: 600px) {
  #box {
    min-width: 500px;
    max-width: 750px;
  }

  #title {
    font-size: 20px;
    text-align: right;
  }

  #slogan {
    font-size: 23px;
    text-align: right;
    margin-top: 10px;
  }
}

@media screen and (min-width: 960px) {
  #box {
    min-width: 800px;
    max-width: 900px;
  }

  #title {
    font-size: 23px;
    text-align: right;
  }

  #slogan {
    font-size: 25px;
    text-align: right;
    margin-right: 55px;
  }
}

@media screen and (min-width: 1280px) {
  #box {
    min-width: 1000px;
  }

  #title {
    font-size: 24px;
    text-align: right;
  }

  #slogan {
    font-size: 30px;
    text-align: right;
    margin-top: 55px;
  }
}

@media screen and (min-width: 1580px) {
  #box {
    min-width: 1300px;
  }

  #title {
    font-size: 35px;
    text-align: right;
  }
  #slogan {
    font-size: 35px;
    text-align: right;
    margin-top: 55px;
  }
}

@media screen and (min-width: 1900px) {
  #title {
    font-size: 41px;
    text-align: right;
    margin-left: 12px;
  }
  #slogan {
    font-size: 45px;
    text-align: right;
    margin-top: 55px;
  }
}
