@import url("https://fonts.googleapis.com/css2?family=Lora&family=Quattrocento&family=Quattrocento+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin: 0, auto;
}
